<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SSO Login</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  </head>
  <style>
    .bi {
      cursor: pointer;
      font-size: 27px;
    }
    .bi-google {
      color: green;
    }
    .bi-facebook {
      color: blue;
    }
    .none-flash {
      display: none;
    }
  </style>
  <script>
    $(document).ready(function () {
      $("#btnLogin").on("click", function () {
        const username = $("#username").val();
        const password = $("#password").val();
        const serviceURL = $("#redirectURL").val();
        $("#alert").text("");
        $.ajax({
          type: "POST",
          url: `${window.location.origin}/login`,
          data: { username, password, serviceURL },
          cache: false,
          withCredentials: true,
          success: function (data) {
            $("#alert").addClass("none-flash");
            const redirectURL = `${data.redirectURL}/code?ssoToken=${data.code}`;
            window.location.href = redirectURL;
          },
          error: function (request, status, error) {
            $("#password").val("");
            $("#alert").removeClass("none-flash");
            $("#alert").append(request.responseText);
          },
        });
      });

      $("#iconGoogle").on("click", function () {
        localStorage.removeItem("clientURL");
        localStorage.setItem("clientURL", $("#redirectURL").val());
        window.location.href = "/auth/google";
      });
    });
  </script>
  <body>
    <input id="redirectURL" value="<%= redirectURL %>" hidden />
    <div class="container">
      <div class="row">
        <!-- <form action="/login" method="POST"> -->
        <div class="login-container col-6 my-3 mx-auto">
          <fieldset class="border rounded-3 p-3">
            <legend class="float-none w-auto px-3">Login</legend>

            <div
              class="alert alert-danger my-3 none-flash"
              role="alert"
              id="alert"
            ></div>

            <div class="mb-3">
              <label for="username" class="form-label">Username</label>
              <div class="input-group has-validation">
                <input
                  type="text"
                  class="form-control"
                  name="username"
                  id="username"
                />
                <div class="invalid-feedback">Plh</div>
              </div>
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <div class="input-group has-validation">
                <input
                  type="password"
                  class="form-control"
                  name="password"
                  id="password"
                />
                <div class="invalid-feedback">Plh</div>
              </div>
            </div>
            <button type="button" id="btnLogin" class="btn btn-primary">
              Submit
            </button>
            <hr />
            <div class="mb-3">
              <div class="text-center">
                <span>Login with:</span>
              </div>
              <div class="social text-center">
                <i id="iconGoogle" class="bi bi-google p-1"></i>
                <i id="iconFacebook" class="bi bi-facebook p-1"></i>
              </div>
            </div>
          </fieldset>
        </div>
        <!-- </form> -->
      </div>
    </div>
  </body>
</html>
